@use 'Navigation';

body {
  background-color: black;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template:  "nav nav nav" 1fr
                  ". main ." 20fr
                  "foot foot foot" 1fr/ 1fr 8fr 1fr;
}
